<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name="kivaa.app.TheIndustrialApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheIndustrial"
        android:usesCleartextTraffic="true">
        <activity
            android:name="kivaa.app.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TheIndustrial"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Branded App Links (Split for reliability) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="${appHost}" />
                <data android:host="${appHostShort}" />
                <data android:pathPrefix="/" />
                <data android:pathPrefix="/news/" />
                <data android:pathPrefix="/watch/" />
                <data android:pathPrefix="/magazine/" />
            </intent-filter>

            <!-- Universal Kivaa Redirect -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="kivaa.io.in" />
                <data android:pathPrefix="/" />
                <data android:pathPrefix="/app/" />
                <data android:pathPrefix="/news/" />
            </intent-filter>

            <!-- Custom Scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="kivaa" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity
            android:name="kivaa.app.SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.TheIndustrial" />
        <activity
            android:name="kivaa.app.SupportChatActivity"
            android:exported="false"
            android:theme="@style/Theme.TheIndustrial" />
        <activity
            android:name="kivaa.app.MagazineReaderActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.TheIndustrial" />
        <activity
            android:name="kivaa.app.PaymentActivity"
            android:exported="false"
            android:theme="@style/Theme.TheIndustrial" />
    </application>

</manifest>